.center {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
   text-align: center;
   border-style: solid;
   border-width: medium;
   border-color: #808080;
   background-color: #DCDCDC;
   border-radius: 25px;
}